******************************************************************************
******************************************************************************
WARNING: You are accessing a Providence/Digital Innovations Group (P/DIG) 
         Information System (IS) that is provided for authorized use only.
         If you are not authorized, disconnect now.

By using this IS (which includes any device attached to this IS), you 
consent to the following conditions:

  - P/DIG routinely intercepts and monitors communications on this IS for 
    purposes including, but not limited to, penetration testing, SecOps,
    monitoring, network operations and defense, personnel misconduct (PM), law
    enforcement (LE), and counterintelligence (CI) investigations.

  - At any time, P/DIG may inspect and sieze data stored on this IS.

  - Communications using, or data stored on, this IS are not private, are 
    subject to routine monitoring, interception, and search, and my be disclosed
    or used for any P/DIG authorized purpose.

  - This IS includes security measures (e.g., authenticaiton and access 
    controls) to protect P/DIG interests -- not for your personal benefit or
    privacy.

  - Notwhithstanding the above, using this IS does constitue consent to PM,
    LE or CI inveestigative searching or monitoring of the content of 
    privileged communications, or work product, related to personal 
    representation or serivices by attorneys, psycotherapists, or clergy, and
    their assistants.  Such communications and work product are private and
    confidential.
******************************************************************************
******************************************************************************
