# ----------------------------------------------------------------------------
# TCP Wrappers hosts denied 
# {{ ansible_managed }}
# ----------------------------------------------------------------------------
{% for rule in tcpwrappers_hosts_denied -%}
{{ rule }}
{% endfor -%}
