# ----------------------------------------------------------------------------
# Audit Daemon configuration
# {{ ansible_managed }}
# ----------------------------------------------------------------------------
log_file = {{ auditd_log_file }}
log_format = RAW 
log_group = root
priority_boost = 4
freq = 20
flush = INCREMENTAL
num_logs = {{ auditd_num_logs }}
disp_qos = lossy
dispatcher = /sbin/audispd
name_format = {{ auditd_name_format }}
max_log_file = {{ auditd_max_log_size }}
max_log_file_action = {{ auditd_max_log_action }}
space_left = {{ auditd_space_left }}
space_left_action = {{ auditd_space_left_action }}
admin_space_left = {{ auditd_admin_space_left }}
admin_space_left_action = {{ auditd_admin_space_left_action }}
disk_full_action = {{ auditd_disk_full_action }}
disk_error_action = {{ auditd_disk_error_action }}

